In [9]:
import pandas as pd
d1={"Name":["Sai","sub","Poo"],"age":["20","21","23"]}
d2={"Qualified":["Yes","No","Yes"],"Gender":["Male","Male","Female"]}
df1=pd.DataFrame(d1)
print(df1)
df2=pd.DataFrame(d2)                                  #join function
print(df2)
joined=df1.join(df2)
print(joined)

  Name age
0  Sai  20
1  sub  21
2  Poo  23
  Qualified  Gender
0       Yes    Male
1        No    Male
2       Yes  Female
  Name age Qualified  Gender
0  Sai  20       Yes    Male
1  sub  21        No    Male
2  Poo  23       Yes  Female

In [22]:
d1={"Name":["Sai","rishi","thara"],"age":[20,21,22]}
d2={"Qualification":["B.E","M.E","B.ED"],"age":[20,21,22]}
df1=pd.DataFrame(d1)
df2=pd.DataFrame(d2)
newf1=df2.merge(df1,on="age")    
print(newf1)

  Qualification  age   Name
0           B.E   20    Sai
1           M.E   21  rishi
2          B.ED   22  thara

In [7]:
import pandas as pd
df=pd.DataFrame({"Team":['A','B','C','D'],"points":[90,56,75,85],"assists":[12,34,23,44],"rippounds":[56,45,56,45]})
print(df)
df1=pd.melt(df,id_vars="Team",value_vars=["points","assists","rippounds"])
print("Reshaped dataframe\n",df1)

  Team  points  assists  rippounds
0    A      90       12         56
1    B      56       34         45
2    C      75       23         56
3    D      85       44         45
Reshaped dataframe
    Team   variable  value
0     A     points     90
1     B     points     56
2     C     points     75
3     D     points     85
4     A    assists     12
5     B    assists     34
6     C    assists     23
7     D    assists     44
8     A  rippounds     56
9     B  rippounds     45
10    C  rippounds     56
11    D  rippounds     45