In [16]:
import pandas as pd
d=pd.read_csv("Employers")
print(d)

    S.NO Employee name  Gender labour time  Salary  Bonus
0      1           RAM    Male       5 hrs   20000    550
1      2        Sudhan    Male       8 hrs   30000    500
2      3        Harish  Female       9 hrs  800000    700
3      4        Ananya  Female       4 hrs  290000    780
4      5        Rajesh    Male       5 hrs   50000    370
..   ...           ...     ...         ...     ...    ...
85    89         Akash    Male       5 hrs   50000    370
86    90         Yuvan    Male       6 hrs  600000   1000
87    91           Ram    Male      20 hrs   60000   4000
88    92        Suresh    Male      30 hrs  500000  60000
89    93       Yuvaraj    Male       4 hrs   50000    400

[90 rows x 6 columns]

In [17]:
df=pd.DataFrame(d)
print("Columns",df.columns)
print(df.shape)

Columns Index(['S.NO', 'Employee name', 'Gender', 'labour time', 'Salary', 'Bonus'], dtype='object')
(90, 6)

In [18]:
print("S.NO",df['S.NO'])

S.NO 0      1
1      2
2      3
3      4
4      5
      ..
85    89
86    90
87    91
88    92
89    93
Name: S.NO, Length: 90, dtype: int64

In [19]:
print(df[5:10])

   S.NO Employee name Gender labour time  Salary  Bonus
5     6        Suresh   Male       6 hrs  600000   1000
6     7        Ramesh   Male      20 hrs   60000   4000
7     8      Harish.M   Male      30 hrs  500000  60000
8     9        Suresh   Male       4 hrs   50000    400
9    10       Harish    Male       5 hrs   20000    550

In [20]:
print("Particular Person detais",df.loc[2])

Particular Person detais S.NO                  3
Employee name    Harish
Gender           Female
labour time       9 hrs
Salary           800000
Bonus               700
Name: 2, dtype: object

In [21]:
print(d.loc[d['Salary']==60000])

    S.NO Employee name Gender labour time  Salary  Bonus
6      7        Ramesh   Male      20 hrs   60000   4000
15    16         Suraj   Male      20 hrs   60000   4000
24    25       Poojith   Male      20 hrs   60000   4000
33    35        Suresh   Male      20 hrs   60000   4000
42    45           Ram   Male      20 hrs   60000   4000
51    54        Harish   Male      20 hrs   60000   4000
60    64         Suraj   Male      20 hrs   60000   4000
69    73     Hariharan   Male      20 hrs   60000   4000
78    82        Suresh   Male      20 hrs   60000   4000
87    91           Ram   Male      20 hrs   60000   4000

In [22]:
df=d['Salary']/10
print(df)

0      2000.0
1      3000.0
2     80000.0
3     29000.0
4      5000.0
       ...
85     5000.0
86    60000.0
87     6000.0
88    50000.0
89     5000.0
Name: Salary, Length: 90, dtype: float64