In [15]:
import pandas as pd;
import numpy as np;
info=pd.DataFrame([[3,9]]*4,columns=['S','R'])
print("\n Original dataframe \n",info)
print("\n square root:\n",info.apply(np.sqrt))
print("\n Sum of each column:\n",info.apply(np.sum,axis=0))
print("\n Sum of each rows:\n",info.apply(np.sum,axis=1))

 Original dataframe
    S  R
0  3  9
1  3  9
2  3  9
3  3  9

 square root:
           S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

 Sum of each column:
 S    12
R    36
dtype: int64

 Sum of each rows:
 0    12
1    12
2    12
3    12
dtype: int64

In [19]:
import pandas as pd;
import numpy as np;
info=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]],columns=['X','Y','Z'])
print(info)
print(info.agg(['min','max']))

   X  Y  Z
0  2  4  6
1  1  3  5
2  5  8  7
     X  Y  Z
min  1  3  5
max  5  8  7

In [11]:
import pandas as pd
import numpy as np
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col3','col4'])
print(info)
info2=info.sort_index()
print(info2)
info3=info.sort_values(by='col3')
print(info3)

       col3      col4
3 -0.287900 -0.288943
2 -0.700878 -0.101028
0 -0.209497  0.969520
4  0.761997 -0.010024
1  0.096022 -0.168784
       col3      col4
0 -0.209497  0.969520
1  0.096022 -0.168784
2 -0.700878 -0.101028
3 -0.287900 -0.288943
4  0.761997 -0.010024
       col3      col4
2 -0.700878 -0.101028
3 -0.287900 -0.288943
0 -0.209497  0.969520
1  0.096022 -0.168784
4  0.761997 -0.010024

In [1]:
import numpy as np
import pandas as pd                  #4
d2=pd.DataFrame([['Sai',88]],['Poo',70],columns=['EmpName','ID'])
print(d2)
A=d2.assign(Age=[20,18])
print("Adding new column :\n",d2)
d2['Sex']=['Male','Male']
print("Adding new column \n",d2)

    EmpName  ID
Poo     Sai  88
70      Sai  88
Adding new column :
     EmpName  ID
Poo     Sai  88
70      Sai  88
Adding new column
     EmpName  ID   Sex
Poo     Sai  88  Male
70      Sai  88  Male

In [6]:
import pandas as pd
import numpy as np
left=pd.DataFrame({'id':[1,2,3,4],'Name':['Sai','Poo','Saba','Yuvi'],'Sub':['sub1','sub2','sub3','sub4']})
right=pd.DataFrame({'id':[1,2,3,4],'Name':['Sanjay','Saran','Suna','Suba'],'Sub':['Sub1','Sub2','Sub3','Sub5']})
print(left)
print(right)
print(pd.merge(left,right,on='id'))

   id  Name   Sub
0   1   Sai  sub1
1   2   Poo  sub2
2   3  Saba  sub3
3   4  Yuvi  sub4
   id    Name   Sub
0   1  Sanjay  Sub1
1   2   Saran  Sub2
2   3    Suna  Sub3
3   4    Suba  Sub5
   id Name_x Sub_x  Name_y Sub_y
0   1    Sai  sub1  Sanjay  Sub1
1   2    Poo  sub2   Saran  Sub2
2   3   Saba  sub3    Suna  Sub3
3   4   Yuvi  sub4    Suba  Sub5