In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

#create a date variable that contains the dates
dates = [datetime(2011, 1, 2),
datetime(2011, 1, 5),
datetime(2011, 1, 7),
datetime(2011, 1, 8),
datetime(2011, 1, 10),
datetime(2011, 1, 12)]

#with this date object, create a series
ts = pd.Series(np.random.randn(6), index=dates)
print("Date Index \n",ts)

Date Index
 2011-01-02    1.116374
2011-01-05    0.759640
2011-01-07   -0.636719
2011-01-08    1.148281
2011-01-10    0.180271
2011-01-12   -2.184489
dtype: float64

In [2]:
print("\nDate Index alone from the series: \n",ts.index)

Date Index alone from the series:
 DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [3]:
stamp=ts.index[2]
print("\nSecond index:\n", stamp)

Second index:
 2011-01-07 00:00:00

In [4]:
longer_ts=pd.Series(np.random.randn(1000),
index=pd.date_range("2000-01-01",periods=1000))
print("\nDaterange up to 1000 days:\n",longer_ts)

Daterange up to 1000 days:
 2000-01-01   -1.150146
2000-01-02    0.082933
2000-01-03    0.508366
2000-01-04    0.768195
2000-01-05   -1.664873
                ...
2002-09-22   -0.577354
2002-09-23    1.194966
2002-09-24    0.656000
2002-09-25    0.666836
2002-09-26   -0.805865
Freq: D, Length: 1000, dtype: float64

In [5]:
print("\nDate range-2001 year:\n", longer_ts["2001"])

Date range-2001 year:
 2001-01-01    0.948698
2001-01-02   -1.181941
2001-01-03   -0.043061
2001-01-04    0.292731
2001-01-05   -1.702610
                ...
2001-12-27   -0.344327
2001-12-28    1.050830
2001-12-29   -1.512934
2001-12-30    2.021855
2001-12-31   -1.107449
Freq: D, Length: 365, dtype: float64

In [6]:
print("\nDate range-05 month 2001 year:\n", longer_ts["2001-05"])

Date range-05 month 2001 year:
 2001-05-01    0.527928
2001-05-02   -1.657156
2001-05-03    0.159102
2001-05-04    1.106056
2001-05-05    0.885107
2001-05-06    2.510953
2001-05-07   -0.024199
2001-05-08   -0.082336
2001-05-09    1.032811
2001-05-10   -1.723730
2001-05-11    0.686678
2001-05-12   -0.103859
2001-05-13    1.311824
2001-05-14   -1.820373
2001-05-15   -0.932681
2001-05-16   -0.952308
2001-05-17   -0.891831
2001-05-18    1.204299
2001-05-19    0.283643
2001-05-20   -0.285053
2001-05-21   -1.444415
2001-05-22   -1.956327
2001-05-23    0.450296
2001-05-24    0.029887
2001-05-25    1.210067
2001-05-26    0.363199
2001-05-27   -0.918666
2001-05-28    0.373211
2001-05-29   -0.017450
2001-05-30    0.955098
2001-05-31   -1.392579
Freq: D, dtype: float64

In [7]:
print("\nDate range-first few dates in 2000 year:\n",longer_ts["2000"].head())

Date range-first few dates in 2000 year:
 2000-01-01   -1.150146
2000-01-02    0.082933
2000-01-03    0.508366
2000-01-04    0.768195
2000-01-05   -1.664873
Freq: D, dtype: float64

In [8]:
print("\nDate range-first 15 dates in 02 month 2001 year:",longer_ts[
    "2000-02"].head(15))

Date range-first 15 dates in 02 month 2001 year: 2000-02-01   -0.864348
2000-02-02    0.230338
2000-02-03    0.441152
2000-02-04    1.606776
2000-02-05   -1.814976
2000-02-06    0.026335
2000-02-07   -2.163619
2000-02-08    0.422298
2000-02-09   -1.369461
2000-02-10    0.665745
2000-02-11   -0.576167
2000-02-12   -1.250742
2000-02-13    0.533921
2000-02-14   -0.691165
2000-02-15    0.524874
Freq: D, dtype: float64

In [9]:
print("\nDate range-rom 26-9-2001:\n",longer_ts[datetime(2000,9,26):])

Date range-rom 26-9-2001:
 2000-09-26   -0.691945
2000-09-27   -0.659151
2000-09-28   -0.117028
2000-09-29    0.768921
2000-09-30   -0.472077
                ...
2002-09-22   -0.577354
2002-09-23    1.194966
2002-09-24    0.656000
2002-09-25    0.666836
2002-09-26   -0.805865
Freq: D, Length: 731, dtype: float64

In [10]:
print("\nDate range from 26-9-2001 to 25-9-2002:",longer_ts[datetime(2001,9,26):datetime(2002,9,25)])

Date range from 26-9-2001 to 25-9-2002: 2001-09-26    0.328013
2001-09-27   -0.438011
2001-09-28   -0.802190
2001-09-29    0.144209
2001-09-30   -0.842202
                ...
2002-09-21   -0.762424
2002-09-22   -0.577354
2002-09-23    1.194966
2002-09-24    0.656000
2002-09-25    0.666836
Freq: D, Length: 365, dtype: float64